@page "/notes/"
@page "/notes/{UserId}"
@using SharedModels = YourNote.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider ApiAuthenticationStateProvider
@using YourNote.Shared.Models

<div class="wrapper">
    @if (notes == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var note in notes)
        {
            <Note NoteObj="@note" UserId="@UserId" @bind-Notes="notes" Tags="@tags" Lectures="@lectures" />
        }
    }
</div>

<NoteAdder UserId="@UserId" @bind-Notes="notes" Tags="@tags" Lectures="@lectures" />

@code {
    [Parameter]
    public string UserId { get; set; }

    List<SharedModels.Note> notes;
    List<string> tags = new List<string>();
    List<string> lectures = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var authService = await ApiAuthenticationStateProvider.GetAuthenticationStateAsync();
        UserId = UserId ?? ClaimsParser.Select(authService, "nameid");

        notes = await Http.GetJsonAsync<List<SharedModels.Note>>($"api/notes/{UserId}");

        tags.AddRange(new string[] 
            {
                "lalala",
                "lelelel"
            }
        );

        lectures.AddRange(new string[]
            {
                "someValue",
                "someLecture"
            }
        );
    }
}